body {
    background-color: rgb(255, 255, 255);
}

.btn-container {
    margin: 0 auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.main-btn {
    border: none;
    padding: 16px 10px;
    border-radius: 18px;
    cursor: pointer;
    color: rgb(145, 226, 238);
}

.container {
    margin: 0 auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
} 

.action-btn {
    border: none;
    padding: 16px 10px;
    border-radius: 18px;
    cursor: pointer;
}

.action-btn:hover {
    background: snow;
}

#content {
    width: 500px;
    margin: 0 auto;
    background: aliceblue;
    border-radius: 29px;
    padding: 16px;
}

#content ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#content li {
    background: aliceblue;
    margin-bottom: 8px;
    padding: 4px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(3, 12, 43);
}

.remove-btn {
    margin-left: 6px;
    padding: 6px 10px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    background: rgb(3, 12, 43);
    color: snow;
}

#content input {
    width: auto;
    padding: 10px;
    border-radius: 12px;
    border: none;
    margin-bottom: 10px;
    color: rgb(3, 12, 43);
    margin: 10px;
}

#content button {
    padding: 8px 12px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    background: rgb(3, 12, 43);
    color: snow;
}

#app-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#app-content li {
    background: rgb(228, 207, 163);
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(0, 0, 0);
}

#app-content input {
    width: auto;
    padding: 10px;
    border-radius: 12px;
    border: none;
    margin-bottom: 10px;
    color: rgb(3, 12, 43);
    margin: 10px;
}

#app-content button {
    padding: 8px 12px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    background: rgb(3, 12, 43);
    color: snow;
}